:root {
  --clr-primary: 225, 160, 20;
  --clr-label: 137, 88, 176;
  --font-main: "Fira Sans", sans-serif;
}

body {
  font-family: var(--font-main);
  background-color: rgb(var(--clr-bg));
  color: rgb(var(--clr-fg));
  margin: 0;
  padding: 0;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.light {
  --clr-bg: 252, 252, 252;
  --clr-bg-alt: 255, 255, 255;
  --clr-fg: 0, 0, 0;
}

.dark {
  --clr-bg: 13, 8, 17;
  --clr-bg-alt: 27, 17, 35;
  --clr-fg: 230, 230, 230;
}
